.heading
{
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
  font-size: 25px;
  color: black;
}
.heading_div
{
  float: none;
  padding: 10px; 
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
  font-size: 20px;
}
.heading_div2
{
  font-size: 18px;
}
.result_para_tag
{
  box-shadow:5px 5px 5px grey;
  font-size: 20px;
}

.result_para_tag span{
white-space: pre-line;
}

body{
  font-family: 'Cabin', sans-serif;
  background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(173,232,229,1) 0%, rgba(23,163,221,1) 100%);
}

.footer{
  font-size: 20px;
  width: 100%;
  background-color: rgb(240, 120, 73);
  color:rgb(0, 0, 0);
  bottom: 0;
  position: fixed;
  line-height: 3;
  text-align: center;
  border: 4px solid rgb(88, 227, 240);
}

#gl_img{
    width: 350px;
    height: 200px;
}

#model{
    width: 300px;
    margin-left: 785px;
    font-size: 25px;
    
}

#versus{
    font-size: 25px;
}

.image-responsive{
  width: 150px;
  height: 150px;
}

#overall{
  padding: 10px;
  background: rgb(255, 168, 168) ; 
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
  margin-bottom: 100px;
  font-size: 18px;
  text-align: center;
  margin-left: 200px;
  color: rgb(0, 0, 0);
  width: 1500px;
  height: 75px;
  font-size: 22px;
}

#title{
  font-size: 30px;
  color: white;
}

.test_image_and_result{
  float: none;
  padding: 10px;
  background: rgb(255, 203, 168) ; 
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
  font-size: 20px;
  margin-top: 50px;
  width: 100%;
  height: 150px;
}

.image-responsive{
  width: 150px;
  height: 125px;
}

.ul{
  font-size: 18px;
}
